<ul class="nav flex-column px-3">
      <li class="nav-item p-0"><h5>Dun in Mara</h5></li>
      <li class="nav-item p-0"><a href="/posts">Latest news</a></li>
      <li class="nav-item p-0"><a href="/about">About</a></li>
      <li class="nav-item p-0"><a href="/contact">Contact</a></li>
      <li class="nav-item p-0"><a href="/about/inclusivity">Inclusivity Statement</a></li>

      <li class="nav-item pt-2"><h5>What we do</h5></li>
      <li class="nav-item p-0"><a href="/practices">Classes &amp; Practices</a></li>
      <li class="nav-item p-0"><a href="/archery">Archery</a></li>
      <li class="nav-item p-0"><a href="/arts-and-sciences">Arts &amp; Sciences</a></li>
      <li class="nav-item p-0"><a href="/armoured-fighting">Armoured Fighting</a></li>
      <li class="nav-item p-0"><a href="/historical-fencing">Fencing</a></li>

      <li class="nav-item pt-2"><h5>Events</h5></li>
      <li class="nav-item p-0"><a href="https://fienta.com/arts-sciences-day-51746">February A&S Day</a></li>
      <li class="nav-item p-0"><a href="/events/2023/strawberry-raid">Strawberry Raid II</a></li>
      <li class="nav-item p-0"><a href="/events/2023/pride/">Dublin Pride 2023</a></li>

      <li class="nav-item pt-2"><h5>Documents</h5></li>
      <li class="nav-item p-0"><a href="/about/constitution">Constitution</a></li>
      <li class="nav-item p-0"><a href="/about/conduct">Code of Conduct</a></li>
      <li class="nav-item p-0"><a href="/about/data">Your data</a></li>
</ul>
